@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

html {
  font-family: 'Quicksand', sans-serif;
}

#topNav.active + #sideNav {
  left: 0 !important;
}
/* 
#timeline {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background-color: transparent;
} */
